<div class="container">
    <button class="btn btn-success" (click)="cambiarVerTabla()">Ver Tabla</button>
    <h2>Lista de personas</h2>
    <table class="table table-striped" *ngIf="verTabla">
        <thead>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Peso</th>
        </thead>
        <tbody>
            <tr *ngFor="let persona of objectList">
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.edad }}</td>
                <td>{{ persona.peso }}</td>
            </tr>
        </tbody>
    </table>

    <input class="form-control" type="text" placeholder="Ingresa tu nombre" #box
        (keyup.enter)="agregarALista(box.value)">
    <ul>
        <li *ngFor="let nombre of lista">
            {{ nombre }}
        </li>
    </ul>
</div>