<div class="container">
    <h2>Lista de personas</h2>
    <div style="width: 100%;" class="text-center" *ngIf="loading">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <table class="table table-striped" *ngIf="!loading">
        <thead>
            <th>Id</th>
            <th>Email</th>
            <th>Nombre completo</th>
            <th>Foto de perfil</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of objectList">
                <td>{{ item.id }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.first_name }} {{ item.last_name }}</td>
                <img src="{{ item.avatar }}" alt="">
                <!-- <td></td> -->
            </tr>
        </tbody>
    </table>
</div>